.App {
    overflow: auto;
    min-height: 100vh;
}

/* This css is currently setting the width of the page content, I believe to the maximum width of the contents within. */
.PageContent {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}