.EditUser form {
    background-color: indigo;
    width: 500px;
    margin-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.3rem;
    border-style:outset;
}

.EditUser h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: white;
}

.EditUser label {
    margin-top: 0.4rem;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.EditUser input {
    margin-top: 0.4rem;
    width: 390px;
    font-size: 1.1rem;
    border-radius: 0.2rem;
}

.EditUser .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.EditUser button {
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    background-color: darkturquoise;
    color: indigo;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.EditUser button:hover {
    background-color: aqua;
    color: indigo;
}