h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
    display: flex;
    align-items:center;
    justify-content: flex-start;
}

input[type=number] {
    width: 50px;
    text-align: center;
}

input:checked {
    accent-color: rgba(0,125,0,0.9);
}

.checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chekboxSubContainer {
    border-radius: 2px;
    margin-left: 3px;
    margin-top: 1px;
}