.GameCard {
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 0.3rem;
    min-height: 200px;
    border: solid;
    border-color: rebeccapurple;
    box-shadow: 1px 1px indigo;
    border-radius: 3px;
    border-width: 2px;;
    position: relative;
}

.BoxContainer {
    display: flex;
    flex-direction: row;
}

.LeftBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.Thumbnail {
    border-radius: 3px;
    box-shadow: 2px 2px darkgray;
}

.RightBox {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 10px;
}

.Rating {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: large;
    border-radius: 5px;
    position:absolute; 
    top: 10px; 
    right: 10px; 
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 2px 2px black;
}

.best {
    background-color: green;
}

.better {
    background-color:darkgoldenrod;
}

.rest {
    background-color: darkred;
}

.GameName {
    font-size:large;
}

.BGGLink {
    font-size: smaller;
    text-decoration: none;
    color: indigo;
}

.BGGLink:hover {
    color:darkturquoise;
}

.PlayerCount, .PlayingTime, .Age, .Weight {
    margin-top: 5px;
}


.Thumbnail:hover {
    /* Start the shake animation and make the animation last for 1.5 seconds */
    animation: shake 1.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }