.Home {
    margin-top: .5rem;
    min-height: calc(100vh - 20rem);
    min-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home h1 {
    margin: 0.25rem;
    color: indigo;
    font-size: 3rem;
    font-variant: small-caps;
    text-shadow: .1rem .1rem darkturquoise;
}

.Home h2 {
    margin: 1rem;
    color:indigo;
}