.Nav {
    background-color: indigo;
    width: 100vw;
    position: fixed;
    border-style: outset;
    border-left: 0rem;
    border-right: 0rem;
    border-top: 0rem;
    display: flex;
    flex: row;
    align-items: center;
    justify-content:space-between;
}

.Nav a {
    color:white;
    margin: 0.5rem;
    text-decoration: none;
}

.Nav a.active {
    color:aqua;
    font-weight: bold;
}
  
.Nav a.active:hover {
    color:darkturquoise !important;
    font-weight: bold;
}

.Nav a:hover {
    text-decoration: none;
    color: darkturquoise;
}
