.UserPlayCard {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    border: solid;
    border-color: rebeccapurple;
    box-shadow: 1px 1px indigo;
    border-radius: 3px;
    border-width: 2px;;
    position: relative;
}

.TitleBar {
    background-color: indigo;
    color: aqua;
    text-shadow: 1px 1px black;
    padding-left: 5px;
}

.BoxContainer {
    display: flex;
    flex-direction: row;
}

.GameTitle {
    color: indigo;
}

.LeftBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    padding-right: 0px;
}

.RightBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    padding-right: 55px;
}

.Thumbnail:hover {
    /* Start the shake animation and make the animation last for 1.5 seconds */
    animation: shake 1.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }